.cta-section{
    padding-inline: var(--padding-inline);
    background: url('/images/bg-boost-desktop.svg') var(--dark-violet);
    padding-block: 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;

}

.message{
    font-size: clamp(1.5rem, 2vw + 1rem, 3.3rem);
    color: var(--white);
}
.cta-btn{
    padding: 0.8em 2.5em;
    border-radius: 100vw;
    color: var(--white);
    background-color: var(--cyan);
    transition: 250ms ease opacity;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.1ch;
    font-size: 1rem;
}
.cta-btn:hover{
    opacity:0.5;
}
@media screen and (max-width: 405px) {
    .cta-section{
        background-image: url('/images/bg-boost-mobile.svg');
        background-position: bottom;
        padding-block: 5em;
    }
}