.hero-home{
    padding-inline: var(--padding-inline);
    padding-block: 5em var(--padding-inline);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background: url('/images/illustration-working.svg') no-repeat ;
    background-position:  right -12em center;
}
.hero-title{
    font-size: 4.5rem;
    line-height: 1.1;
    grid-column: span 3;
    color: var(--very-dark-violet);
    font-weight: 700;
}
.hero-description{
    grid-row: 2;
    grid-column: span 3;
    color: var(--grayish-violet);
    margin-top: 0.2em;
    font-size: 1.3rem;
    font-weight: 400;
}
.cta-btn{
    width: fit-content;
    grid-row: 3;
    padding: .7em 1.8em;
    background-color: var(--cyan);
    border-radius: 100vw;
    color: var(--white);
    transition: 250ms opacity ease;
    cursor: pointer;
    margin-top: 2em;
    font-weight: 700;

}
.cta-btn:hover{
    opacity: 0.5;

}
@media screen and (max-width : 500px) {
    .hero-home{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 55vh;
        background-position: top left var(--padding-inline);
        background-size: 130%;
    }
    .hero-title{
        font-size: 2.5rem;
    }
    .hero-description{
        font-size: 1.15rem;
        margin-top: 0.5em;
    }
    .cta-btn{
        margin-top: 1.5em;
    }
}