*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
:root{
    --white: #FFFFFF;
    --accent-blue: #D0D6F9;
    --dark: #0B0D17;
    
    --bellefair-regular: 'Bellefair', serif;
    --barlow-regular: 'Barlow Condensed', sans-serif;
}
body{
    font-family: var(--barlow-regular);
    font-size: 1.8rem;
    line-height: 3.2rem;
    background-color: var(--dark);
    color: var(--white);
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
    font-weight: 400;
    scroll-behavior: smooth;
}
section{
    padding: 2.4rem;
    padding-top: 8.8rem;
}
hr{
    width: 100%;
    height: 0.1rem;
    background-color: #383B4B;
    border: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: var(--white);
    font-family: var(--barlow-regular);
    font-weight: 400;



}
.scroll-snap{
    scroll-snap-type: x mandatory;
    & > *{
        scroll-snap-align: center
    }
}
.heading1, .heading2, .heading3, .heading4, .sub-heading1{
    font-family: var(--bellefair-regular);
}
.heading1{
    font-size: 15rem;
    line-height: 17.19rem;
}
.heading2{
    font-size: 10rem;
    line-height: 11.46rem;
}
.heading3{
    font-size: 5.6rem;
    line-height: 6.418rem;
}
.heading4{
    font-size: 3.2rem;
    line-height: 3.667rem;
}
.heading5{
    font-size: 2.8rem;
    letter-spacing: 0.475rem;
    line-height: 0.472rem;
    color: var(--accent-blue);
}

.sub-heading1{
    font-size: 2.8rem;
    line-height: 3.2rem;
}
.sub-heading1{
    font-size: 1.4rem;
    letter-spacing: 0.236rem;
    line-height: 1.68rem;
}

.nav-text{
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
    line-height: 3.2rem;
}



